


*{
    box-sizing: border-box;
}


html{
    margin: 10px;
    padding: 0;
}


body{
    background-color: #194854;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.temp-body{
    width: 40%;
    margin: 0 auto;
}

.box{
    width: 150px;
    height: 150px;
    box-shadow: rgba(19, 19, 19, 0.878) 3px 3px 7px;
    border-radius: 5px;
    text-align: center;
    font-size: 4em;
    padding-top: 40px;
    margin: 10px;
    cursor: pointer;
}

.box:hover{
    transform: translateY(5px);
    box-shadow: rgba(1, 161, 132, 0.878) 2px 2px 7px;
    
}

.boards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 550px;
    margin: 0 auto;
    
}

.btn{
    margin: 20px 20px;
    background-color: rgb(138, 236, 189);
    border-radius: 3px;
    border: none;
    box-shadow: rgba(19, 19, 19, 0.878) 3px 3px 7px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.score{
    display: flex;
    justify-content: space-evenly;
}


.scorePlayer1{
    background-color: rgb(189, 236, 138);
    border-radius: 3px;
    border: none;
    box-shadow: rgba(19, 19, 19, 0.878) 3px 3px 7px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-reset{
    background-color: rgb(138, 236, 189);
    border-radius: 3px;
    border: none;
    box-shadow: rgba(19, 19, 19, 0.878) 3px 3px 7px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    box-shadow: rgba(64, 80, 1, 0.878) 3px 3px 7px;
    transform: translateY(-2px);
    color: azure;
    background-color: rgb(138, 174, 236);
}

.title{
    text-align: left;
    padding: 0;
    margin-left: 50px;
    font-weight: bold;
    font-size: 1.2em;
}